### Logistic regression

- Iris 데이터에 logistic regression을 적용하되, multi_class=‘ovr’과 ‘multinomial’을 적용한 후, 추정된 sigmoid함수와 softmax 함수를 제시하고 해석하라.

In [33]:
# Load Iris Dataset
import pandas as pd
import seaborn as sns # seaborn을 불러오고 SNS로 축약

iris = sns.load_dataset('iris')  # iris라는 변수명으로 Iris data를 download
X = iris.drop('species', axis=1) # 'species'열을 drop하고 input X를 정의
y = iris['species']

In [34]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [35]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [36]:
# y data를 범주형으로 변환
from sklearn.preprocessing import LabelEncoder    # LabelEncoder() method를 불러옴
classle = LabelEncoder()
y = classle.fit_transform(iris['species'].values) # species 열의 문자열을 categorical 값으로 전환

In [37]:
# 전체 data를 training set과 test set으로 split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=1, stratify=y)

**multi_class{'auto', 'ovr', 'multinomial'}, default='auto'**
- If the option chosen is 'ovr', then a binary problem is fit for each label. 
- For 'multinomial' the loss minimised is the multinomial loss fit across the entire probability distribution, even when the data is binary. 
- 'multinomial' is unavailable, when solver= 'liblinear'. 
- 'auto' selects 'ovr' if the data is binary, or if solver= 'liblinear', and otherwise selects 'multinomial'.

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [55]:
## multi_class = 'ovr'
# Run Logistic Regression(C = 1/λ. 디폴트: L2, One-versus-Rest.)
Logit_ovr = LogisticRegression(C=0.01, random_state=0, multi_class = 'ovr')
Logit_ovr.fit(X_train, y_train)
ovr_coef = Logit_ovr.coef_ ; ovr_intercept = Logit_ovr.intercept_

In [56]:
## multi_class = 'multinomial'
# Run Logistic Regression(C = 1/λ. 디폴트: L2, One-versus-Rest.)
Logit_mul = LogisticRegression(C=0.01, random_state=0, multi_class = 'multinomial')
Logit_mul.fit(X_train, y_train)
mul_coef = Logit_mul.coef_ ; mul_intercept = Logit_mul.intercept_

In [41]:
## multi_class = 'ovr'
# Predict
y_pred_ovr = Logit_ovr.predict(X_test)
y_pred_ovr_prob = Logit_ovr.predict_proba(X_test)

# ACC
print(accuracy_score(y_test,y_pred_ovr))

# Confusion Matrix
print(confusion_matrix(y_test, y_pred_ovr))

0.7333333333333333
[[15  0  0]
 [ 2  4  9]
 [ 0  1 14]]

In [57]:
ovr_coef

array([[-0.13801007,  0.08372436, -0.42883606, -0.17413519],
       [-0.0227268 , -0.09044836,  0.09546167,  0.01361503],
       [ 0.15321021, -0.00226495,  0.33808285,  0.16211827]])

In [58]:
ovr_intercept

array([ 1.53763332, -0.66635321, -3.17854758])

In [59]:
mul_coef

array([[-0.11358948,  0.07487221, -0.36344198, -0.14707146],
       [-0.02044293, -0.0781416 ,  0.07482096,  0.00567798],
       [ 0.13403241,  0.00326939,  0.28862101,  0.14139348]])

In [60]:
mul_intercept

array([ 1.86636231,  0.23734076, -2.10370307])

In [42]:
## multi_class = 'multinomial'
# Predict
y_pred_mul = Logit_mul.predict(X_test)
y_pred_mul_prob = Logit_mul.predict_proba(X_test)

# ACC
print(accuracy_score(y_test,y_pred_mul))

# Confusion Matrix
print(confusion_matrix(y_test,y_pred_mul))

0.8222222222222222
[[15  0  0]
 [ 1  8  6]
 [ 0  1 14]]

In [43]:
y_test = pd.DataFrame(y_test, columns = ['true'])
y_test.head()

   true
0     2
1     0
2     0
3     2
4     1

In [44]:
y_pred_mul = pd.DataFrame(y_pred_mul, columns = ['y_pred_mul'])
y_pred_ovr = pd.DataFrame(y_pred_ovr, columns = ['y_pred_ovr'])

In [45]:
import pandas as pd
y_pred_ovr_prob=pd.DataFrame(y_pred_ovr_prob, columns = [['prob_0','prob_1','prob_2']])
y_pred_mul_prob=pd.DataFrame(y_pred_mul_prob, columns = [['prob_0','prob_1','prob_2']])

In [46]:
y_pred_mul_prob.head()

     prob_0    prob_1    prob_2
0  0.115521  0.363449  0.521029
1  0.631034  0.252326  0.116640
2  0.679568  0.235110  0.085322
3  0.217485  0.427883  0.354632
4  0.199545  0.389534  0.410921

In [47]:
y_pred_ovr_prob.head()

     prob_0    prob_1    prob_2
0  0.148047  0.361578  0.490374
1  0.576350  0.272632  0.151018
2  0.609351  0.271296  0.119354
3  0.251849  0.384362  0.363789
4  0.233284  0.360384  0.406332

In [48]:
y_pred_mul_concat = pd.concat([y_pred_mul_prob, y_pred_mul,y_test], axis=1) # column bind
y_pred_ovr_concat = pd.concat([y_pred_ovr_prob, y_pred_ovr,y_test], axis=1) # column bind

In [49]:
y_pred_mul_concat.head(10)

   (prob_0,)  (prob_1,)  (prob_2,)  y_pred_mul  true
0   0.115521   0.363449   0.521029           2     2
1   0.631034   0.252326   0.116640           0     0
2   0.679568   0.235110   0.085322           0     0
3   0.217485   0.427883   0.354632           1     2
4   0.199545   0.389534   0.410921           2     1
5   0.251930   0.400019   0.348051           1     1
6   0.088543   0.369772   0.541685           2     2
7   0.184337   0.415685   0.399978           1     1
8   0.119448   0.383705   0.496847           2     2
9   0.676605   0.227044   0.096351           0     0

In [50]:
y_pred_ovr_concat.head(10)

   (prob_0,)  (prob_1,)  (prob_2,)  y_pred_ovr  true
0   0.148047   0.361578   0.490374           2     2
1   0.576350   0.272632   0.151018           0     0
2   0.609351   0.271296   0.119354           0     0
3   0.251849   0.384362   0.363789           1     2
4   0.233284   0.360384   0.406332           2     1
5   0.282992   0.361890   0.355118           1     1
6   0.117875   0.373969   0.508156           2     2
7   0.218938   0.379889   0.401174           2     1
8   0.151864   0.372884   0.475252           2     2
9   0.607009   0.260730   0.132262           0     0