# [7] 판다스(Pandas)

In [1]:
# install pandas library
# !pip3 install pandas

In [2]:
# install python excel tool library
# !pip install openpyxl
# !pip install xlrd

In [3]:
import pandas as pd   #판다스 Package를 불러오는 명령어
X1=pd.Series([0.1,0.2,0.3,0.4], index=['a','b','c','d'])  #행렬에 index를 부여할 수 있다. numpy와 다른점.
print(X1);

a    0.1
b    0.2
c    0.3
d    0.4
dtype: float64

In [4]:
print(X1.index)   #Series의 인덱스 
print(X1.values)  #Series의 value

Index(['a', 'b', 'c', 'd'], dtype='object')
[0.1 0.2 0.3 0.4]

In [5]:
print(X1['a':'c'])   #자료의 Slicing   1.index가 a~c까지
print(X1[0:3])       #자료의 Slicing   2.0~2행 까지

a    0.1
b    0.2
c    0.3
dtype: float64
a    0.1
b    0.2
c    0.3
dtype: float64

In [6]:
# Series와 DataFrame

#Dictionary 형식 데이터를 1차원 자료로 환원
population1={'서울':9700000,
             '부산':4500000,
             '인천':4000000,
             '광주':2000000,
             '대구':2500000}
# 1-d tensor
popu=pd.Series(population1)
print(popu)      #dictionary 형식 데이터에서 key가 Series의 index로 변한

서울    9700000
부산    4500000
인천    4000000
광주    2000000
대구    2500000
dtype: int64

In [7]:
#행 이름과 열이름의 부여
X2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['a','b','c'],index=[1,2,3])
print(X2)

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9

In [8]:
#앞의 예제에서 population에 열이름에 'pop'를 붙임.
pd.DataFrame(popu,columns=['pop'])

# 1차원 array-->  2차원 행렬자료
# 2-d tensor로 바뀜
#열 벡터의 열 이름을 부여할 수 있음.

        pop
서울  9700000
부산  4500000
인천  4000000
광주  2000000
대구  2500000

In [9]:
ind1={'서울':95,
     '부산':80,
     '인천':85,
     '광주':75,
     '대구':80}
print(ind1)

{'서울': 95, '부산': 80, '인천': 85, '광주': 75, '대구': 80}

In [10]:
#Series 로 변환
ind=pd.Series(ind1)
print(ind)

서울    95
부산    80
인천    85
광주    75
대구    80
dtype: int64

In [11]:
#지역 이름을 index로 하는 DataFrame 생성
# 2-d tensor
y=pd.DataFrame({'pop':popu,'자립도(%)':ind})
print(y)

        pop  자립도(%)
서울  9700000      95
부산  4500000      80
인천  4000000      85
광주  2000000      75
대구  2500000      80

In [12]:
#자료의 편집(Slicing)
print(y['자립도(%)'])  #열의 이름을 그대로 사용

서울    95
부산    80
인천    85
광주    75
대구    80
Name: 자립도(%), dtype: int64

In [13]:
#자료의 편진(Slicing)
print(y['부산':'광주']) #index를 기준으로한 Sclicing

        pop  자립도(%)
부산  4500000      80
인천  4000000      85
광주  2000000      75

In [14]:
#자료의 편진(Slicing)
print(y[1:4]) #index number를 기준으로한 Sclicing

        pop  자립도(%)
부산  4500000      80
인천  4000000      85
광주  2000000      75

In [1]:
#pd.DataFrame의 편집(Slicing)은 Numpy의 Slicing도 사용가능.
import pandas as pd
import numpy as np # Numpy Pakage를 불러오는 명령어

W=pd.DataFrame(np.arange(12).reshape(3,4),columns=['a','b','c','d']) #예제 data의 생성
print(W)
print('-'*50)

np.random.shuffle(W.values)
print(W)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
--------------------------------------------------
   a  b   c   d
0  8  9  10  11
1  0  1   2   3
2  4  5   6   7

### iloc, loc
- df.loc[[행], [열]] >> `index이름`으로 조회
- df.iloc[[행], [열]] >> `index속성`으로 조회

In [2]:
w1=W.loc[:,'b']
print(w1)
print('-'*50)

w22=[0]

for i in range(1,len(w1)):
    w11=w1[i]-w1[i-1]
    w22.append(w11)
    
print(w22)
print('-'*50)

ww=pd.DataFrame(w22,columns=['e'])
print(ww)
print('-'*50)

www=pd.concat([W,ww], axis=1)
print(www)

0    9
1    1
2    5
Name: b, dtype: int32
--------------------------------------------------
[0, -8, 4]
--------------------------------------------------
   e
0  0
1 -8
2  4
--------------------------------------------------
   a  b   c   d  e
0  8  9  10  11  0
1  0  1   2   3 -8
2  4  5   6   7  4

In [3]:
## data Slicing1: loc
print(W.loc[0:1,:]) #0행~1행까지의 자료를 Slicing : [a:b]는 a에서 b자리수 까지를 의미

   a  b   c   d
0  8  9  10  11
1  0  1   2   3

In [4]:
## data Slicing1: iloc
print(W.iloc[0:1,:])   #0행 자료를 Slicing  :[a:b]는 a에서 b-1 자리수 까지를 의미

   a  b   c   d
0  8  9  10  11

In [19]:
# 서로 다른 차원의 합
D1=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
print(D1)

   a  b
0  1  2
1  3  4

In [20]:
D2=pd.DataFrame([[11,22,33],[44,55,66],[77,88,99]],columns=['a','b','c'])
print(D2)

    a   b   c
0  11  22  33
1  44  55  66
2  77  88  99

In [21]:
print(D1+D2)  #연산은 두 개의 자료 size가 다르더라도 error 메시지 없이 실행된다는 점에서 매우 유용한 기능

      a     b   c
0  12.0  24.0 NaN
1  47.0  59.0 NaN
2   NaN   NaN NaN

In [22]:
print(D1-D2)  #연산은 두 개의 자료 size가 다르더라도 error 메시지 없이 실행된다는 점에서 매우 유용한 기능

      a     b   c
0 -10.0 -20.0 NaN
1 -41.0 -51.0 NaN
2   NaN   NaN NaN

In [23]:
print(D1/D2)  #연산은 두 개의 자료 size가 다르더라도 error 메시지 없이 실행된다는 점에서 매우 유용한 기능

          a         b   c
0  0.090909  0.090909 NaN
1  0.068182  0.072727 NaN
2       NaN       NaN NaN

In [24]:
print(D1*D2)  #연산은 두 개의 자료 size가 다르더라도 error 메시지 없이 실행된다는 점에서 매우 유용한 기능

       a      b   c
0   11.0   44.0 NaN
1  132.0  220.0 NaN
2    NaN    NaN NaN

In [25]:
print(D1%D2)  #연산은 두 개의 자료 size가 다르더라도 error 메시지 없이 실행된다는 점에서 매우 유용한 기능

     a    b   c
0  1.0  2.0 NaN
1  3.0  4.0 NaN
2  NaN  NaN NaN

### [7.1] 결측 자료의 처리

In [26]:
N=pd.Series([1,np.nan,'missing',None])
print(N)
N.isnull() # missing이면 True의 논리형 자료를 출력

0          1
1        NaN
2    missing
3       None
dtype: object

0    False
1     True
2    False
3     True
dtype: bool

In [27]:
N[N.notnull()] #결측이 없는 자료만 추출

0          1
2    missing
dtype: object

In [28]:
N.fillna(0) #특정 숫자로 NaN을 대체하고 싶을 경우

0          1
1          0
2    missing
3          0
dtype: object

In [7]:
import pandas as pd

M=pd.DataFrame([[5,6,7,8],[1,None,2,None],[4,5,6,None],[None,7,8,None], [None,None,None,None]],index=list('12345'),columns=list('abcd')) #새로운 데이터의 정의
print(M)

     a    b    c    d
1  5.0  6.0  7.0  8.0
2  1.0  NaN  2.0  NaN
3  4.0  5.0  6.0  NaN
4  NaN  7.0  8.0  NaN
5  NaN  NaN  NaN  NaN

### 하나라도 null일때 na 제거

In [8]:
print(M.dropna(axis=0)) #행을 기준으로 하나라도 NaN이면 행을 제거

     a    b    c    d
1  5.0  6.0  7.0  8.0

### 모두 null일때 na 제거

In [3]:
print(M.dropna(axis=1,how='all')) #열을 기준으로 모두 NaN이면 열을 제거

     a    b  c
1  1.0  NaN  2
2  4.0  5.0  6
3  NaN  7.0  8

In [31]:
print(M.dropna(axis='columns',how='all')) #열을 기준으로 모두 NaN이면 열을 제거

     a    b  c
1  1.0  NaN  2
2  4.0  5.0  6
3  NaN  7.0  8

### 3개가 null일때 na 제거

In [32]:
print(M.dropna(axis='rows',thresh=3)) #3개이상의 non-missing인 행만 남김.

     a    b  c     d
2  4.0  5.0  6  None

In [33]:
print(M.dropna(axis=0,thresh=3)) #3개이상의 non-missing인 행만 남김.

     a    b  c     d
2  4.0  5.0  6  None

### backward fill

In [34]:
print(M)
print('-'*50)
print(M.fillna(method='bfill',axis=1)) #각 행별로(axis=1 이므로 across columns의 의미이다.) NaN의 바로 뒤 열값으로 채움

     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
--------------------------------------------------
     a    b    c   d
1  1.0  2.0  2.0 NaN
2  4.0  5.0  6.0 NaN
3  7.0  7.0  8.0 NaN

### forward fill

In [35]:
print(M)
print('-'*50)
print(M.fillna(method='ffill',axis=1)) #각 행별로 NaN의 바로 전 열의 값으로 결측치를 채움.

     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
--------------------------------------------------
     a    b    c    d
1  1.0  1.0  2.0  2.0
2  4.0  5.0  6.0  6.0
3  NaN  7.0  8.0  8.0

### [7.2]  논리적 인덱스

In [36]:
x=pd.DataFrame([[1,None,2,None],[3,4,5,None],[None,6,7,None]],index=list('123'),columns=list('abcd')) #새로운 데이터의 정의
print(x)

     a    b  c     d
1  1.0  NaN  2  None
2  3.0  4.0  5  None
3  NaN  6.0  7  None

In [37]:
x.loc['2','d']=99  #원소만 값을 변경
print(x)

     a    b  c     d
1  1.0  NaN  2  None
2  3.0  4.0  5    99
3  NaN  6.0  7  None

In [38]:
print(x[pd.isnull(x['b'])]) #조건문을 만족하는 행을 출력

     a   b  c     d
1  1.0 NaN  2  None

In [39]:
x[pd.isnull(x).any(axis=1)]['b'] #x의 각행에서 하나라도 결측치가 있는 행에서   'b'열의 값을 출력

1    NaN
3    6.0
Name: b, dtype: float64

In [40]:
x.loc[pd.isnull(x).any(axis=1),'b'] #위와 동일한 결과

1    NaN
3    6.0
Name: b, dtype: float64

In [41]:
x[pd.isnull(x).any(axis=1),'b']  # Error 발생

TypeError: '(1     True
2    False
3     True
dtype: bool, 'b')' is an invalid key

In [42]:
K=pd.DataFrame(np.arange(12).reshape(3, 4),columns=list('abcd'))  # 새로운 data의 정의
print(K)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [43]:
print(K.loc[K['b']>4]['c']) # 'b'열이 4보다 큰 행(두번째와 세 번째행)을 대상으로 ‘c’열의 값

1     6
2    10
Name: c, dtype: int32

In [44]:
print(K.loc[K['b']>4,'c']) #위와 동일한 결과

1     6
2    10
Name: c, dtype: int32

In [45]:
print(K.loc[K['b']>4,['b','d']]) #b’열이 4보다 큰 행(두번째와 세 번째행)을 대상으로 ‘c’,'d'열의 값

   b   d
1  5   7
2  9  11

In [46]:
print(K.loc[K['b']>4][['b','d']]) #b’열이 4보다 큰 행(두번째와 세 번째행)을 대상으로 ‘c’,'d'열의 값])

   b   d
1  5   7
2  9  11

### stack, unstack

In [47]:
P=pd.DataFrame(np.arange(6).reshape(2, 3),index=list('ab'),columns=list('123'))  #새로운 data의 설정
print(P)

   1  2  3
a  0  1  2
b  3  4  5

In [48]:
print(P.stack()) #행 index와 열 index를 만들어 자료를 재정리

a  1    0
   2    1
   3    2
b  1    3
   2    4
   3    5
dtype: int32

In [49]:
print(P.stack().unstack())  #위 과정의 반대방향.

   1  2  3
a  0  1  2
b  3  4  5

### [7.3] Data 붙이기

**concat**

In [50]:
Q1=pd.DataFrame([[1,2,3],[4,5,6]],columns=list('abc'))           #새로운 data의 생성
Q2=pd.DataFrame([[11,22,33],[44,55,66]],columns=list('bcd'))
print(Q1)
print('-'*50)
print(Q2)

   a  b  c
0  1  2  3
1  4  5  6
--------------------------------------------------
    b   c   d
0  11  22  33
1  44  55  66

In [51]:
#밑으로 붙이기.
print(pd.concat([Q1,Q2]))                   #밑으로 붙이기
print('-'*50)
print(pd.concat([Q1,Q2],ignore_index=True))  #순서있는 인덱스를 원할 경우
print('-'*50)
print(pd.concat([Q1,Q2],join='inner'))      #공통으로 가지고 있는 열 ‘b’와 ‘c’로만 구성된 자료의 아래로 붙이기

     a   b   c     d
0  1.0   2   3   NaN
1  4.0   5   6   NaN
0  NaN  11  22  33.0
1  NaN  44  55  66.0
--------------------------------------------------
     a   b   c     d
0  1.0   2   3   NaN
1  4.0   5   6   NaN
2  NaN  11  22  33.0
3  NaN  44  55  66.0
--------------------------------------------------
    b   c
0   2   3
1   5   6
0  11  22
1  44  55

In [52]:
#옆으로 붙이기.
import pandas as pd
R1=pd.DataFrame([[1,2,3],[4,5,6]],columns=list('abc'))
R2=pd.DataFrame([[11,22],[33,44]],columns=list('de'))
print(R1)
print('-'*50)
print(R2)
print('-'*50)

# concat
R3=pd.concat([R1,R2],axis=1)         # 옆으로 붙이기 :axis=1추가
print(R3)

   a  b  c
0  1  2  3
1  4  5  6
--------------------------------------------------
    d   e
0  11  22
1  33  44
--------------------------------------------------
   a  b  c   d   e
0  1  2  3  11  22
1  4  5  6  33  44

**merge**

In [53]:
#공통된 열이 있을때의 옆으로 붙이기.
S1=pd.DataFrame([[1,'aa',3],[4,'bb',5]],columns=list('abc')) #새로운 data의 생성
S2=pd.DataFrame([[11,'bb'],[22,'aa']],columns=list('db'))
print(S1)
print('-'*50)
print(S2)
print('-'*50)

# merge
S3=pd.merge(S1,S2,on='b') #'b'열을 기준으로 옆으로 붙이기.
print(S3)

   a   b  c
0  1  aa  3
1  4  bb  5
--------------------------------------------------
    d   b
0  11  bb
1  22  aa
--------------------------------------------------
   a   b  c   d
0  1  aa  3  22
1  4  bb  5  11

In [54]:
#공통된 열이 있을때의 옆으로 붙이기.:공통 열에 반복이 있는 경우.
S11=pd.DataFrame([[1,'aa',3],[4,'bb',5],[6,'aa',7]],columns=list('abc'))
S21=pd.DataFrame([[11,'bb'],[22,'aa'],[33,'bb']],columns=list('db'))
print(S11)
print('-'*50)
print(S21)
print('-'*50)
S31=pd.merge(S11,S21,on='b')
print(S31)

   a   b  c
0  1  aa  3
1  4  bb  5
2  6  aa  7
--------------------------------------------------
    d   b
0  11  bb
1  22  aa
2  33  bb
--------------------------------------------------
   a   b  c   d
0  1  aa  3  22
1  6  aa  7  22
2  4  bb  5  11
3  4  bb  5  33

In [55]:
#공통된 열이 있을때의 옆으로 붙이기.: 공통 열 이외의 열에 반복이 있는 경우.
S12=pd.DataFrame([['aa',3],['bb',5],['aa',7]],columns=list('ab'))
S22=pd.DataFrame([[11,'bb'],[22,'aa']],columns=list('ba'))
print(S12)
print('-'*50)
print(S22)
print('-'*50)
S32=pd.merge(S12,S22,on='a')
print(S32)

    a  b
0  aa  3
1  bb  5
2  aa  7
--------------------------------------------------
    b   a
0  11  bb
1  22  aa
--------------------------------------------------
    a  b_x  b_y
0  aa    3   22
1  aa    7   22
2  bb    5   11

In [56]:
#공통된 열이 있을때의 옆으로 붙이기.: 공통 열의 이름이 다른 경우 
U1=pd.DataFrame([[1,'aa',3],[4,'bb',5]],columns=list('abc'))
U2=pd.DataFrame([[11,'bb'],[22,'aa']],columns=list('de'))
print(U1)
print('-'*50)
print(U2)
print('-'*50)
U3=pd.merge(U1,U2,left_on='b',right_on='e')
print(U3)
print('-'*50)
U4=pd.merge(U1,U2,left_on='b',right_on='e').drop('e',axis=1)  #공통 열중 'e'열의 제거
print(U4)

   a   b  c
0  1  aa  3
1  4  bb  5
--------------------------------------------------
    d   e
0  11  bb
1  22  aa
--------------------------------------------------
   a   b  c   d   e
0  1  aa  3  22  aa
1  4  bb  5  11  bb
--------------------------------------------------
   a   b  c   d
0  1  aa  3  22
1  4  bb  5  11

In [57]:
V1=pd.DataFrame([[1,'aa',3],[4,'bb',5]],columns=list('abc')) #새로운 data의 생성
V2=pd.DataFrame([[11,'cc'],[22,'aa']],columns=list('db'))
print(V1)
print('-'*50)
print(V2)

   a   b  c
0  1  aa  3
1  4  bb  5
--------------------------------------------------
    d   b
0  11  cc
1  22  aa

In [58]:
#공통된 열이 있을때의 옆으로 붙이기.: inner vs outer vs left
V3=pd.merge(V1,V2,how='inner')  #공통 열 ‘b’를 기준으로 교집합
print(V3)
print('-'*50)

V4=pd.merge(V1,V2,how='outer')    #공통 열 ‘b’를 기준으로 합집합
print(V4)
print('-'*50)

V5=pd.merge(V1,V2,how='left')    #V1을 기준으로 ‘b’열에 있는 ID가 있는 V2의 행만 옆 붙이기
print(V5)

   a   b  c   d
0  1  aa  3  22
--------------------------------------------------
     a   b    c     d
0  1.0  aa  3.0  22.0
1  4.0  bb  5.0   NaN
2  NaN  cc  NaN  11.0
--------------------------------------------------
   a   b  c     d
0  1  aa  3  22.0
1  4  bb  5   NaN

**group by**

In [59]:
import numpy as np
rng=np.random.RandomState(1)
dset=pd.DataFrame({'ID':['A','B','C','A','B','C'],
                   'x1':range(6),
                   'x2':rng.randint(0,10,6)})  #DataFrame에서 dictionary 데이터의 key에 list데이터가 연결
print(dset)

  ID  x1  x2
0  A   0   5
1  B   1   8
2  C   2   9
3  A   3   5
4  B   4   0
5  C   5   0

In [60]:
print(dset.groupby('ID').mean())  #groupby( ) 함수의 이용
print('-'*50)
print(dset.groupby('ID').std())

     x1   x2
ID
A   1.5  5.0
B   2.5  4.0
C   3.5  4.5
--------------------------------------------------
         x1        x2
ID
A   2.12132  0.000000
B   2.12132  5.656854
C   2.12132  6.363961

In [61]:
#여러 가지 통계량 한번에 구하기
print(dset.groupby('ID').aggregate([min,max,np.mean,np.median,np.std]))

    x1                           x2
   min max mean median      std min max mean median       std
ID
A    0   3  1.5    1.5  2.12132   5   5  5.0    5.0  0.000000
B    1   4  2.5    2.5  2.12132   0   8  4.0    4.0  5.656854
C    2   5  3.5    3.5  2.12132   0   9  4.5    4.5  6.363961

In [62]:
#기초 통계량 구하기 
print(dset.groupby('ID')['x1'].describe()) #pandas의 describe()함수의 이용

    count  mean      std  min   25%  50%   75%  max
ID
A     2.0   1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B     2.0   2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C     2.0   3.5  2.12132  2.0  2.75  3.5  4.25  5.0

In [63]:
import pandas as pd
df=pd.DataFrame([[1,3,5],[2,4,6]],index=['a1','a2'], columns=['b1','b2','b3'])
df

    b1  b2  b3
a1   1   3   5
a2   2   4   6

In [64]:
# save as xlsx file
df.to_excel('df1.xlsx',sheet_name='data')

In [65]:
# read xlsx file
df1=pd.read_excel('df1.xlsx',sheet_name='data', index_col=0, header=0)
print(df1)
print('-'*50)

df2=pd.read_excel('df1.xlsx',sheet_name='data', index_col=None, header=None)
print(df2)

    b1  b2  b3
a1   1   3   5
a2   2   4   6
--------------------------------------------------
     0   1   2   3
0  NaN  b1  b2  b3
1   a1   1   3   5
2   a2   2   4   6

In [66]:
# save as csv file
df.to_csv('df1.csv')

In [67]:
# read csv file
df3=pd.read_csv('df1.csv', index_col=0, header=0)
print(df3)
print('-'*50)

df4=pd.read_csv('df1.csv',index_col=None, header=None)
print(df4)

    b1  b2  b3
a1   1   3   5
a2   2   4   6
--------------------------------------------------
     0   1   2   3
0  NaN  b1  b2  b3
1   a1   1   3   5
2   a2   2   4   6

In [68]:
df5=df3.reset_index(drop=True)
print(df5)
print('-'*50)

df6=df5.T.reset_index(drop=True).T
print(df6)
print('-'*50)

df7=df3.values
print(df7)

   b1  b2  b3
0   1   3   5
1   2   4   6
--------------------------------------------------
   0  1  2
0  1  3  5
1  2  4  6
--------------------------------------------------
[[1 3 5]
 [2 4 6]]